<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">


	<listeners>
		<listener
			class-name="com.naveenautomation.Listeners.CustomListener" />
	</listeners>
	<test thread-count="5" name="Test">

		<classes>
			<class name="com.naveenautomation.tests.AccountLoginTest" />
			<class name="com.naveenautomation.tests.MyAccountTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
