<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">


	<listeners>
		<listener
			class-name="com.naveenautomation.Listeners.CustomListener" />
		<listener
			class-name="com.naveenautomation.Reports.ExtentReportListener" />
		<listener
			class-name="com.naveenautomation.Utils.TransformerForRetry" />

	</listeners>
	<test thread-count="5" name="Test">

		<classes>
			<class name="com.naveenautomation.tests.AccountLoginTest" />
			<class name="com.naveenautomation.tests.MyAccountTest" />
			<!-- <class name="com.naveenautomation.tests.AccountCreatedTest" />
			<class name="com.naveenautomation.tests.ChangePasswordTest" />
			<class name="com.naveenautomation.tests.OrderHistoryTest" /> -->

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
